@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
}

body, button, input, ul, a {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(233, 243, 216);
}

#app {
  background-color: orangered;
  display: flex;
  flex-direction: column;
  padding: 42px;
  margin: 36px;
  border-radius: 12px;
}